.aac-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem;
    cursor: pointer;
    border: 1px solid var(--gray);
    border-radius: 0.4rem;
}

.aac-container:hover {
    border-color: var(--gray-light);
}

.aac-img {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 0.6rem;
    flex-shrink: 0;
}

.aac-content {
    flex: 1;
    min-width: 0;
}

.aac-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 0.5rem;
}

.aac-title {
    font-weight: bold;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.aac-time {
    font-size: 0.8rem;
    color: var(--gray-light);
    white-space: nowrap;
}

.aac-fixed-badge {
    color: var(--cyan);
}

.aac-artist {
    color: var(--gray-light);
    font-size: 0.85rem;
    margin-top: 0.2rem;
}

.aac-container hr {
    border: 0.5px solid var(--black-highlight);
    margin: 0.8rem 0.2rem 1rem 0.2rem;
}

.aac-info {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
}

.aac-info-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.aac-info-column p:first-child {
    font-size: 0.8rem;
    color: var(--white);
}

.aac-info-value {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--gray-light);
}